/* Setup */

* {
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Layout */

body {
    font-size: 1.8rem;
    display: grid;
    grid-template-rows: 15% auto;
    height: 100vh;
    background-color: rgb(143, 217, 168);
    color: #4B778D;
}

/* Header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

header h1 {
    margin: 0.5rem;
}

.add {
    color: #2E76CF;
    margin: 0.5rem;
    font-size: 3rem;
    border: none;
    background-color: rgb(0, 0, 0, 0.0);
    width: 26.5px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.add:hover {
    transform: rotate(90deg);
    transition: 1s;
    color: #fb4400;
}

/* Main */

main {
    display: grid;
    padding: 2rem 0 2rem 0;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(auto-fill, 265px);
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

main div {
    border: 4px solid #4B778D;
    border-radius: 0.5rem;
    background-color: #D2E69C;
    color: #4B778D;
    display: flex;
    font-size: 2rem;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    text-align: left;
    font-weight: 900;
}

main div p {
    padding: 2rem 0 2rem 0;
}

main div p:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
    font-size: 2.8rem;
    font-weight: 900;
}

#remove {
    background-color: rgb(0, 0, 0, 0.0);
    color: #6b9658;
    padding: 1rem;
    width: 20px;
    height: 30px;
    font-size: 3rem;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

#remove:hover {
    transform: rotate(90deg);
    transition: 1s;
    color: #FE0001;
}

/* Form */

main form {
    display: none;
    background-color: #D2E69C;
    border: 4px solid #2E76CF;
    border-radius: 0.5rem;
    color: #2E76CF;
    font-weight: 900;
    position: fixed;
    width: 40%;
    height: 50%;
    top: 30%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    line-height: 4rem;
    text-align: left;
    padding: 1.5rem;
}

main form label,
main form input {
    display: block;
    margin: 0 auto;
    width: 100%;
}

main form label {
    font-size: 2.2rem;
}

main form input {
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 24px;
    outline: none;
    border: 2px solid #4B778D;
    font-size: 1.6rem;
}

main form button {
    color: #2E76CF;
    border: 2px solid #4B778D;
    font-weight: 900;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
    margin-top: 1rem;
}